
{% extends 'homepage.html' %}
{% load custom_tags %}
{% block middle-content %}

<div class="col-lg-9">

        <div style="border:3px solid;margin-top:100px;">
            <ul>
                {% for i in q_list %}

                    <li>
                        <div style="border:3px solid;">
                            <div style="overflow:auto;border:1px solid;">
                                <div>
                                    <h4><b>{{  i.question_title }}</b></h4>
                                </div>
                                <div style="border:1px solid;">
                                    <p >{{ i.question_text }}</p>
                                </div>
                                <div style="float:right;margin:10px;">
                                    <p><b>By:{{ i.question_by }}</b></p>
                                </div>
                            </div>

                        </div>

                        <ul style="border:3px solid green;">

                            {% for j in a_list|at_index:i.id %}
                                <li>
                                    <div style="overflow:auto;border:1px solid;">
                                        <div>
                                            <p style="border:3px solid;">{{ j.answer_text }}</p>
                                        </div>
                                        <div style="display:inline;border:1px;solid;float:right;margin:10px;">
                                            <p style="align-text:center;"><b>By:{{ j.answered_by }}</b></p>
                                            <p style="align-text:center;"> {{ j.pub_date }} </p>
                                        </div>
                                    </div>
                                </li>
                            {% empty %}
                                <li>
                                    <div><p style="border:3px solid;">Be First to Answer!</p></div>
                                </li>
                            {% endfor %}
                            <li>
                                <div>
                                    <form action="{% url 'ACreateForm' i.id %}" method="get">
                                        <button>Answer It!</button>
                                    </form>
                                </div>
                            </li>
                        </ul>

                    </li>

                {% endfor %}
            </ul>
        </div>
</div>
{% endblock middle-content %}
