<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home Page</title>
</head>
<body>
     {% load custom_tags %}
    <div>

    <div>
    <ol>
    {% for i in q_list %}

        <li>
            <div>
                <h4>{{  i.question_text }}</h4>

            </div>

                <ul>

                        {% for j in a_list|at_index:i.id %}
                            <li>
                                <p>{{ j.answer_text }}</p>
                            </li>
                        {% empty %}
                            <li>
                                <p>Be First to Answer!</p>
                            </li>
                        {% endfor %}

                </ul>

        </li>
    {% endfor %}
    </ol>
    </div>
</div>

</body>
</html>